* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  top: 0;
  left: 0;
}

.svg_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}
