/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.left_gnb {
  display: flex;
  align-items: center;
  gap: 30px;
}

.left_gnb_first {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 84px;
}

.topNav {
  display: flex;
  gap: 18px;
}

.topNav li a {
  color: #d1d1d1;
}

.topNav li a:first-child {
  color: #000;
  font-weight: bold;
}

/* right_gnb */
.right_gnb {
  display: flex;
  gap: 26px;
}

.nav_icon {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #f00;
}

/* background_img */
#background_img {
  width: 100%;
  height: 774px;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.7)),
    url("./img/bg.png") center/cover no-repeat;
}

/* top banner */
#top_banner {
  width: 100%;
  height: 60px;
  background: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#top_banner .badge {
  font-size: 16px;
  text-transform: uppercase;
  background: #e92130;
  padding: 10px 16px;
}
